
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
   flex-direction: column;
}
   
.tlTop{
    background: black;
    width: 20px;
    margin: auto;
    height: 50px;

}

.trafic-light {
    background-color: black;
    padding: 10px;
    margin:auto;
    display: inline-block;
    border-radius: 15px;
}
.light {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px;
    background-color: aliceblue;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green{
    background-color:green;
}
.glow {
    box-shadow: 0px 0px 39px 12px #ffffff;
}